{% extends 'base.html' %}

{% block title %}Список постов{% endblock %}

{% block content %}
<h1>Последние посты</h1>
<ul class="post-list">
{% for post in posts %}
    <li class="post-item">
        <div class="post-item-content">
            <h2 class="post-title"><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></h2>
            <p class="post-meta">{{ post.created_at|date:"d.m.Y" }} | Просмотры: {{ post.views_count }}</p>
            <p class="post-excerpt">{{ post.content|truncatewords:30 }}</p>
            <a href="{% url 'blog_detail' post.pk %}" class="button">Читать далее</a>
        </div>
    </li>
{% empty %}
    <li>Нет доступных постов.</li>
{% endfor %}
</ul>
{% endblock %}
